.chapter-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: .5rem;
}

.preamble {
  text-align: left;
}

.preamble > a {
  color: #535bf2;
}

.preamble > a:hover {
  color: #3339a3;
}